.body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #010101;
    margin: 0;
}

.left-side {
    flex: 50%;
    background-color: #f56235;
    border: none;
    flex-direction: column;
}

.welcome {
    font-size: 24px;
    font-weight: normal;
    margin-left: 100px;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: row;

}

.email {
    box-sizing: border-box;
    width: 80%;
    height: 40px;
    padding: 8px;
    margin-top: 15px;
    display: block;
}

.password {
    box-sizing: border-box;
    width: 80%;
    height: 40px;
    padding: 8px;
    margin-top: 15px;
    display: block;
}

.submit {
    width: 80%;
    background-color: #f56425;
    color: #010101;
    font-size: large;
    border: none;
    height: 40px;
    border-radius: 15px;
    margin-top: 30px;
    cursor: pointer;
   
}

button {
    margin-top: 10px;
    background-color: #f56425;
}

button:hover {
    background-color: #d13a08;
}

.main {
    padding: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex: 50%;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-size: 15px;
}

input {
    height: 40px;
    font-size: large;
    padding-left: 20px;
    border-style: none;
    border-bottom-style: solid;
    border-color: #f56425;

}

input:focus {
    outline: none;
    border-bottom-style: solid;
    border-color: #d13a08;
}

input[type="submit"]:hover {
    background-color: #d13a08;
}

.logo {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: transparent;
    background-blend-mode: multiply;
}

label {
    display: block;
    font-size: large;
    color: #010101;
    text-align: left;
    margin-top: 30px;
}

#address {
    display: block;
    text-align: left;
    align-items: left;
    align-content: left;
    margin-top: 20px;

}

.sub-btn {
    margin-top: 50px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #010101;
}

#pass {
    text-align: left;
    align-items: left;
    align-content: left;
    margin-top: 60px;
}

.google-button {
    background-color: #f56425;
    border: none;
    height: 40px;
    margin-left: 50px;
    width: 70px;
    border-radius: 5px;
}

.choice2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    color: #010101;
}