body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #010101;
    margin: 0;
    display: flex;
    min-height: 100vh;
}
.leftSide{
    background-color: #f56425;
    padding: 50px;
    width: 50%;
}
.welcome{
    font-size:24px;
    font-weight: normal;
}
.rightSide{
    padding: 50px;
    width: 50%;
}
.sign{
    font-size: 24px;
    margin-bottom: 1.5em;
}

form div{
    display: flex;
    flex-direction: column;
    margin-bottom:30px ;
}

label{
    margin-bottom: 8px;
    font-size: 15px;
}

input{
    height: 40px;
    font-size: large;
    padding-left: 20px;
    border-style: none;
    border-bottom-style:solid;
    border-color: #f56425;
}
input:focus{
    outline: none;
    border-bottom-style: solid;
    border-color: #d13a08
}
button[type="submit"]{
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f56425;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 400;
}
button[type="submit"]:hover{
   
    background-color: #d13a08;
}
#alt{
    display: flex;
    justify-content: space-evenly;
}

#alt button{
    border: none;
    border-radius: 4px;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #f56425;
    cursor: pointer;
}
#alt button:hover {

    background-color: #d13a08;
}
.logo{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-bottom: 60px;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}